.btn {
	@apply inline-flex flex-row items-center select-none px-6 py-3 border-2 cursor-pointer rounded-lg transition-all duration-200 hover:transform hover:scale-95;
}

.tag {
	@apply inline-flex flex-row items-center select-none px-3 py-2 mr-3 border-2 cursor-pointer rounded-lg transition-all duration-200 hover:text-white hover:transform hover:scale-95;
}

.btn-link {
	@apply text-gray inline-flex items-center select-none hover:text-gray-dark transition-colors duration-200;
}

.btn-link span::before {
	content: '';
	bottom: -1px;
	left: 0;
	position: absolute;
	height: 1px;
	width: 100%;
	background: currentColor;
}

.kodr-underline {
	@apply relative;

	&::before {
		content: '';
		bottom: -1px;
		left: 0;
		position: absolute;
		height: 1px;
		width: 100%;
		background: currentColor;
	}
}

.title-text-block {
	grid-template-areas: ". . title title text text text .";
	@apply grid grid-cols-8 gap-6 my-16;
	.title-col {
		grid-area: title;
		h3 {
			@apply text-xl font-medium;
		}
	}
	.text-col {
		grid-area: text;
		@apply text-gray;
	}
}
@media (max-width: 767px) {
	.title-text-block {
		@apply block my-8;
		.title-col {
			@apply mb-4;
		}
	}
}

.divider-block {
	grid-template-areas: ". divider divider divider divider divider divider .";
	@apply grid grid-cols-8 my-16;
	.divider-inner {
		grid-area: divider;
		border-bottom: 1px solid #E0E0E0;
	}
}
@media (max-width: 767px) {
	.divider-block {
		@apply block my-8;
	}
}

.image-50-block {
	grid-template-areas: ". . . . img img img img";
	@apply grid grid-cols-8 gap-6;
	.col {
		grid-area: img;
		img {
			@apply rounded-lg;
		}
	}
}
@media (max-width: 767px) {
	.image-50-block {
		@apply block;
	}
}
.website-link-button {
	@apply text-center mb-12 mt-8;
	a {
		@apply relative text-gray inline-flex items-center;
		span {
			@apply mr-2;
		}
		&:hover {
			@apply text-gray-dark;
		}
		&::before {
			content: '';
			bottom: -1px;
			left: 0;
			position: absolute;
			height: 1px;
			width: 100%;
			background: currentColor;
		}
	}
}

.wp-block-image {
	img {
		@apply w-full rounded-2xl;
	}
}

.video-center-block {
	grid-template-areas: ". . vid vid vid vid . .";
	@apply grid grid-cols-8 gap-6;
	.col {
		grid-area: vid;
	}
}
