@font-face {
    font-family: 'TT Firs Neue';
    src: url('~/assets/fonts/TTFirsNeue-Regular.woff2') format('woff2'),
        url('~/assets/fonts/TTFirsNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('~/assets/fonts/TTFirsNeue-Medium.woff2') format('woff2'),
        url('~/assets/fonts/TTFirsNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('~/assets/fonts/TTFirsNeue-Medium.woff2') format('woff2'),
        url('~/assets/fonts/TTFirsNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('~/assets/fonts/TTFirsNeue-Regular.woff2') format('woff2'),
        url('~/assets/fonts/TTFirsNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

