.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.cf-enter-active,
.cf-leave-active {
  transition: 0.5s;
}

.cf-enter-from,
.cf-leave-to {
  transform: scaleY(0);
}

.cf-enter-to,
.cf-leave-from {
  transform: scaleY(1);;
}

.bounce-enter-active {
	animation: bounce-in 0.5s ease;
  }
.bounce-leave-active {
animation: bounce-out 0.5s ease;
}
@keyframes bounce-in {
0% {
	transform: translateY(100%);
	opacity: 0.8;
}
100% {
	transform: translateY(0);
	opacity: 1;
}
}
@keyframes bounce-out {
0% {
	transform: scale(1);
	opacity: 1;
}
100% {
	transform: scale(0.95);
	opacity: .8;
}
}